.nav{
    margin-top: 350px;
    padding: 5px;
}

.nav-link {
    color: var(--fourth-color);
    font-size: 16pt;
}

button {
    background-color: var(--primary-color);
    border-radius: 5px;
    border: none;
    padding: 5px 18px;
    margin: 3px;
}