<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocalización
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <div *ngIf="latitudP!=0 && longitudP!=0">
      <h3>Geolocalización con promesas</h3>
      <h4>{{ latitudP }}</h4>
      <h4>{{ longitudP }}</h4>
    </div>

    <div *ngIf="latitudO!=0 && longitudO!=0">
      <h3>Geolocalización con observables</h3>
      <h4>{{ latitudO }}</h4>
      <h4>{{ longitudO }}</h4>
    </div>
 
    <ion-button color="warning" (click)="obtenerPromesa()">Promesas</ion-button>
    <ion-button color="primary" (click)="obtenerObservable()">Observables</ion-button>
  </div>
</ion-content>